$site-max-width: 1200px;
$sitePadding: 0 25px;
$sitePaddingMinWidth: 0 83.5px;
$siteMargin: 0 auto;

// Media definition
$breakpointtablet: 768px;

// sass variable map 
$colors: (
  green : #00A87B,
  gray : #CCCCCC,
  yellow : #FFBB00,
  red : #FF4633,
  blue : #436FB6,
  white : #FFFFFF,
  white_1: #fafafa,
  black : #000000,
  light_black : #262626,
  white_logo : #262627,
  white_font_color : #333333,
  white_font_color_light : #adadad,
  nav_menu_font_color: #71401a,
  nav_menu_font_color_hover: #71401a,
);

// loop over each name, color
:root {

  // each item in color map
  @each $name,
  $color in $colors {
    --#{$name}: #{$color};
  }
}

@function get-color($color, $variant: null) {
  $color: map-get($colors, $color);
  @return map-get((extra-light: mix($color, white, 25%),
      light: mix($color, white, 50%),
      semi-light: mix($color, white, 75%),
      semi-dark: mix($color, black, 75%),
      dark: mix($color, black, 50%),
      extra-dark: mix($color, black, 25%)), $variant) or $color;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.siteCss {
  position: static;
  padding: $sitePadding;
  margin: $siteMargin;

  @media (min-width: $breakpointtablet) {
    padding: $sitePaddingMinWidth;
  }

  .pageTitle {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 32px;
  }
}

html,
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  // font-style: normal;
  font-size: 15px;
  // letter-spacing: .01em;
  // line-height: 1.5em;
  text-transform: none;
  // color: #787878;
  padding: 0;
  margin: 0;
}

.clear {
  clear: both;
}

.fontawesome {
  font: normal normal normal 14px/1 FontAwesome;
}

:export {
  site-max-width: $site-max-width;
  sitePadding: $sitePadding;
  siteMargin: $siteMargin;
}