@import '../../../assets/css/common.scss';

.bannerBox {
  display: block;
  position: relative;

  & div.arrow {
    position: absolute;
    right: -38px;
    bottom: 0px;

    & ul,
    & li {
      margin: 0;
      padding: 0;
      display: block;
      background-color: get_color(nav_menu_font_color);
      color: get_color(white);
      font-size: 16px;
      font-weight: bold;
    }

    & ul {
      border-left: 2px solid get_color(white);
    }

    & li {
      padding: 10px;
      cursor: pointer;

      &:first-child {
        border-bottom: 2px solid get_color(white);
      }
    }
  }

  @media (max-width: $breakpointtablet) {
    height: 300px;
  }

  @media (min-width: $breakpointtablet) {
    height: calc(100vh - 167px);
  }

  & .siteCss {
    position: static;
    max-width: $site-max-width;
    padding: $sitePadding;
    margin: $siteMargin;
  }

  & .bannerItem {
    display: none;
    opacity: 0;
    height: 100%;

    & .slideItem {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      & img {
        height: 100%;
        width: 100%;
      }
    }

    .contentBox {
      position: relative;
      z-index: 2;
      color: get_color(white);
    }

    &.active {
      display: block;
      opacity: 1;
      // transition: background-image 0.2s ease-out opacity 0.1s ease-out display 0.3s;
    }
  }
}